**Importing Libraries**

In [1]:
import numpy as np
import pandas as pd

**Reading file and filling NaN with 0**

In [2]:
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

apache_df = pd.read_excel("MDS APACH II D3.xlsx")
apache_df[["GCS_Admission_Eye_1_1", "GCS_Admission_Motor_1_1", "GCS_Admission_Verbal_1_1", "GCS_Admission_Verbal_Intubated_1_1"]] = apache_df[["GCS_Admission_Eye_1_1", "GCS_Admission_Motor_1_1", "GCS_Admission_Verbal_1_1", "GCS_Admission_Verbal_Intubated_1_1"]].fillna(0)
apache_df.head()

,Row_Index,Patient_Identifier,National_Code,Age,Immune_Disease_1,Immunosuppressed_1,Cirrhosis_Chronic_liver_failure_1,Chronic_respiratory_1,Chronic_Cardiovascular_1,Chronic_Renal_failure_1,ICU_Admission_Date_1_1,ICU_Name_1_1,Elective_Surgery_1_1,Diagnosis_Type_1_1,Core_Temperature_Hi_1_1,Core_Temperature_Low_1_1,Heart_Rate_Hi_1_1,Heart_Rate_Low_1_1,Systolic_Hi_1_1,Systolic_Low_1_1,Diastolic_Hi_1_1,Diastolic_Low_1_1,Mean_Arterial_Blood_Pressure_Hi_1_1,Mean_Arterial_Blood_Pressure_Low_1_1,Respiratory_Rate_Hi_1_1,Respiratory_Rate_Low_1_1,Sodium_Hi_1_1,Sodium_Low_1_1,Potassium_Hi_1_1,Potassium_Low_1_1,Bicarbonate_Hi_1_1,Bicarbonate_Low_1_1,Creatinine_Hi_1_1,Creatinine_Low_1_1,Acute_Renal_Failure_Status_1_1,Hematocrit_Hi_1_1,Hematocrit_Low_1_1,White_Blood_Cell_Count_Hi_1_1,White_Blood_Cell_Count_Low_1_1,FiO2_1_1_1,paO2_1_1_1,paCO2_1_1_1,pH_1_1_1,GCS_Admission_Eye_1_1,GCS_Admission_Motor_1_1,GCS_Admission_Verbal_1_1,GCS_Admission_Verbal_Intubated_1_1
0,1,9918788,5.489981e+09,35,2.0,2.0,2.0,2.0,2.0,2.0,2020-10-04,4,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1,2,9920751,2.291000e+09,55,2.0,2.0,2.0,2.0,2.0,2.0,2020-10-25,6,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2,3,9923104,2.282587e+09,25,2.0,2.0,2.0,2.0,2.0,2.0,2020-11-28,5,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
3,4,9901484,5.480040e+09,29,2.0,2.0,2.0,2.0,2.0,2.0,2020-04-15,5,NaN,2.0,37.2,37.0,82.0,70.0,123.0,99.0,72.0,64.0,89.0,75.0,20.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
4,5,9903388,2.282541e+09,25,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-08,3,2.0,2.0,38.0,37.7,99.0,71.0,139.0,122.0,93.0,87.0,108.0,98.0,18.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0

**Calculate Underlying Disease Score**

In [3]:
def calculate_underlying_disease_score(Immune_Disease_1, Immunosuppressed_1, Cirrhosis_Chronic_liver_failure_1, Chronic_respiratory_1, Chronic_Cardiovascular_1, Chronic_Renal_failure_1):
    if any(var == 1 for var in [Immune_Disease_1, Immunosuppressed_1, Cirrhosis_Chronic_liver_failure_1, Chronic_respiratory_1, Chronic_Cardiovascular_1, Chronic_Renal_failure_1]):
        return True
    else:
        return False

**Calculate Age Score**

In [4]:
def calculate_age_score(Age):
    if Age < 45:
        return 0
    elif 45 <= Age < 55:
        return 2
    elif 55 <= Age < 65:
        return 3
    elif 65 <= Age < 75:
        return 5
    else:
        return 6

**Calculate Temperature Score**

In [5]:
def calculate_temperature_score(Core_Temperature):
    if np.isnan(Core_Temperature):
        return 0
    elif Core_Temperature < 30:
        return 4
    elif 30 <= Core_Temperature < 32:
        return 3
    elif 32 <= Core_Temperature < 34:
        return 2
    elif 34 <= Core_Temperature < 36:
        return 1
    elif 36 <= Core_Temperature < 38.5:
        return 0
    elif 38.5 <= Core_Temperature < 39:
        return 1
    elif 39 <= Core_Temperature < 41:
        return 3
    elif 41 <= Core_Temperature:
        return 4

**Calculate Heart Rate Score**

In [6]:
def calculate_heart_rate_score(Herat_Rate):
    if np.isnan(Herat_Rate):
        return 0
    elif Herat_Rate < 40:
        return 4
    elif 40 <= Herat_Rate < 55:
        return 3
    elif 55 <= Herat_Rate < 70:
        return 2
    elif 70 <= Herat_Rate < 110:
        return 0
    elif 110 <= Herat_Rate < 140:
        return 2
    elif 140 <= Herat_Rate < 180:
        return 3
    elif 180 <= Herat_Rate:
        return 4

**Calculate Mean Arterial Blood Pressure Score**

In [7]:
def calculate_mean_arterial_blood_pressure_score(Mean_Arterial_Blood_Pressure):
    if np.isnan(Mean_Arterial_Blood_Pressure):
        return 0
    elif Mean_Arterial_Blood_Pressure < 50:
        return 4
    elif 50 <= Mean_Arterial_Blood_Pressure < 70:
        return 2
    elif 70 <= Mean_Arterial_Blood_Pressure < 110:
        return 0
    elif 110 <= Mean_Arterial_Blood_Pressure < 130:
        return 2
    elif 130 <= Mean_Arterial_Blood_Pressure < 160:
        return 3
    elif 160 <= Mean_Arterial_Blood_Pressure:
        return 4

**Calculate Respiratory Rate Score**

In [8]:
def calculate_respiratory_rate_score(Respiratory_Rate):
    if np.isnan(Respiratory_Rate):
        return 0
    elif Respiratory_Rate < 6:
        return 4
    elif 6 <= Respiratory_Rate < 10:
        return 2
    elif 10 <= Respiratory_Rate < 12:
        return 1
    elif 12 <= Respiratory_Rate < 25:
        return 0
    elif 25 <= Respiratory_Rate < 35:
        return 1
    elif 35 <= Respiratory_Rate < 50:
        return 3
    elif 50 <= Respiratory_Rate:
        return 4

**Calculate Sodium Score**

In [9]:
def calculate_sodium_score(Sodium):
    if np.isnan(Sodium):
        return 0
    elif Sodium < 111:
        return 4
    elif 111 <= Sodium < 120:
        return 3
    elif 120 <= Sodium < 130:
        return 2
    elif 130 <= Sodium < 150:
        return 0
    elif 150 <= Sodium < 155:
        return 1
    elif 155 <= Sodium < 160:
        return 2
    elif 160 <= Sodium < 180:
        return 3
    elif 180 <= Sodium:
        return 4

**Calculate Potassium Score**

In [10]:
def calculate_potassium_score(Potassium):
    if np.isnan(Potassium):
        return 0
    elif Potassium < 2.5:
        return 4
    elif 2.5 <= Potassium < 3:
        return 2
    elif 3 <= Potassium < 3.5:
        return 1
    elif 3.5 <= Potassium < 5.5:
        return 0
    elif 5.5 <= Potassium < 6:
        return 1
    elif 6 <= Potassium < 7:
        return 3
    elif 7 <= Potassium:
        return 4

**Calculate Bicarbonate Score**

In [11]:
def calculate_bicarbonate_score(Bicarbonate):
    if np.isnan(Bicarbonate):
        return 0
    elif Bicarbonate < 15:
        return 4
    elif 15 <= Bicarbonate < 18:
        return 3
    elif 18 <= Bicarbonate < 22:
        return 2
    elif 22 <= Bicarbonate < 32:
        return 0
    elif 32 <= Bicarbonate < 41:
        return 1
    elif 41 <= Bicarbonate < 52:
        return 3
    elif 52 <= Bicarbonate:
        return 4

**Calculate Creatinine Score**

In [12]:
def calculate_creatinine_score(Creatinine):
    if np.isnan(Creatinine):
        return 0
    elif Creatinine < 0.6:
        return 2
    elif 0.6 <= Creatinine < 1.5:
        return 0
    elif 1.5 <= Creatinine < 2:
        return 2
    elif 2 <= Creatinine <= 3.5:
        return 3
    elif 3.5 < Creatinine:
        return 4

**Calculate Hematocrit Score**

In [13]:
def calculate_hematocrit_score(Hematocrit):
    if np.isnan(Hematocrit):
        return 0
    elif Hematocrit*100 < 20:
        return 4
    elif 20 <= Hematocrit*100 < 30:
        return 2
    elif 30 <= Hematocrit*100 < 46:
        return 0
    elif 46 <= Hematocrit*100 < 50:
        return 1
    elif 50 <= Hematocrit*100 < 60:
        return 2
    elif 60 <= Hematocrit*100:
        return 4

**Calculate White Blood Cell Count Score**

In [14]:
def calculate_white_blood_cell_count_score(White_Blood_Cell_Count):
    if np.isnan(White_Blood_Cell_Count):
        return 0
    elif White_Blood_Cell_Count < 1:
        return 4
    elif 1 <= White_Blood_Cell_Count < 3:
        return 2
    elif 3 <= White_Blood_Cell_Count < 15:
        return 0
    elif 15 <= White_Blood_Cell_Count < 20:
        return 1
    elif 20 <= White_Blood_Cell_Count < 40:
        return 2
    elif 40 <= White_Blood_Cell_Count:
        return 4

**Calculate Arterial Blood Gases Score**

In [15]:
def calculate_arterial_blood_gases_score(FiO2_1_1_1, paO2_1_1_1, paCO2_1_1_1):
    if np.isnan(FiO2_1_1_1) or np.isnan(paO2_1_1_1):
        return 0
    
    if FiO2_1_1_1 < 0.5:
        if paO2_1_1_1 < 55:
            return 4
        elif 55 <= paO2_1_1_1 < 61:
            return 3
        elif 61 <= paO2_1_1_1 < 71:
            return 1
        elif 71 <= paO2_1_1_1:
            return 0
    elif FiO2_1_1_1 >= 0.5:
        if np.isnan(paCO2_1_1_1):
            return 0
        A_a_gradient = (713 * FiO2_1_1_1) - paO2_1_1_1 - paCO2_1_1_1
        if A_a_gradient < 200:
            return 0
        elif 200 <= A_a_gradient < 350:
            return 2
        elif 350 <= A_a_gradient < 500:
            return 3
        elif 500 <= A_a_gradient:
            return 4

**Calculate PH Score**

In [16]:
def calculate_ph_score(PH):
    if np.isnan(PH):
        return 0
    elif PH < 7.15:
        return 4
    elif 7.15 <= PH < 7.25:
        return 3
    elif 7.25 <= PH < 7.33:
        return 2
    elif 7.33 <= PH < 7.5:
        return 0
    elif 7.5 <= PH < 7.6:
        return 1
    elif 7.6 <= PH < 7.7:
        return 3
    elif 7.7 <= PH:
        return 4

**Calculate GCS Score**

In [17]:
def calculate_gcs_score(GCS_Admission_Eye_1_1, GCS_Admission_Motor_1_1, GCS_Admission_Verbal_1_1, GCS_Admission_Verbal_Intubated_1_1):
    final_score = 15 - (GCS_Admission_Eye_1_1 + GCS_Admission_Motor_1_1 + GCS_Admission_Verbal_1_1 + GCS_Admission_Verbal_Intubated_1_1)
    return final_score

**Reading each row to get each patients records and calculate Apache II score**

In [18]:
rows_list = apache_df.values.tolist()
Apache_II_List = []
for patient in rows_list:
    Age_score = calculate_age_score(patient[3])

    ############################################
    Underlying_Disease_score = calculate_underlying_disease_score(patient[4], patient[5], patient[6], patient[7], patient[8], patient[9])
    Elective_Surgery_1_1 = patient[12]
    Diagnosis_Type_1_1 = patient[13]
    ############################################
    
    Temperature_score = max(calculate_temperature_score(patient[14]), calculate_temperature_score(patient[15]))
    Heart_Rate_score = max(calculate_heart_rate_score(patient[16]), calculate_heart_rate_score(patient[17]))
    Mean_Arterial_Blood_Pressure_score = max(calculate_mean_arterial_blood_pressure_score(patient[22]), calculate_mean_arterial_blood_pressure_score(patient[23]))
    Respiratory_Rate_score = max(calculate_respiratory_rate_score(patient[24]), calculate_respiratory_rate_score(patient[25]))
    Sodium_score = max(calculate_sodium_score(patient[26]), calculate_sodium_score(patient[27]))
    Potassium_score = max(calculate_potassium_score(patient[28]), calculate_potassium_score(patient[29]))
    Bicarbonate_score = max(calculate_bicarbonate_score(patient[30]), calculate_bicarbonate_score(patient[31]))
    Creatinine_score = max(calculate_creatinine_score(patient[32]), calculate_creatinine_score(patient[33]))

    #Checking status of Acute_Renal_Failure_Status_1_1
    if patient[34] == 1:
        Creatinine_score *= 2

    Hematocrit_score = max(calculate_hematocrit_score(patient[35]), calculate_hematocrit_score(patient[36]))
    White_Blood_Cell_Count_score = max(calculate_white_blood_cell_count_score(patient[37]), calculate_white_blood_cell_count_score(patient[38]))
    Arterial_Blood_Gases_score = calculate_arterial_blood_gases_score(patient[39], patient[40], patient[41])
    PH_score = calculate_ph_score(patient[42])
    GCS_score = calculate_gcs_score(patient[43], patient[44], patient[45], patient[46])

    Final_Apache_II_Score = 0
    Apache_II_List += [Final_Apache_II_Score]

apache_df["APACHE II Score"] = Apache_II_List
#apache_df.to_excel("Output_Apache_II_Score.xlsx", index = False)